.from-container {
  max-width: 800px;
  margin: auto;
  padding: 16px;
}
.from-date,
.from-time {
  display: flex;
  justify-content: space-between;
}

.button-container {
  text-align: end;
  padding-top: 16px;
}

.button {
  padding: 16px 24px;
  background-color: #1010ec;
  border: none;
  border-radius: 8px;
  color: white;
}

.button:hover {
    background-color: #4b4bfd;
    cursor: pointer;
}

